@using BlazingBlog.Data.Entities
<ol class="list-featured">
	@foreach(var b in Posts)
	{
		<li>
			<span>
				<h6 class="font-weight-bold">
					<a href="posts/@b.Slug" class="text-dark">@b.Title</a>
				</h6>
				<p class="text-muted">
					@b.User.Name in <a href="@b.Category.Slug-posts" title="@b.Category.Name Posts" >@b.Category.Name</a>
				</p>
			</span>
		</li>
	}


</ol>

@code {
	[Parameter, EditorRequired]
	public BlogPost[] Posts { get; set; } = [];
}
